<container class="container">
	<div>
		<h1>Hello User_Name</h1>
	</div>
	<hr>
<div>
	<img src="" alt="" id="profile-pic">
</div>
<div>
	<p>Name:</p>
	<p>Zone:</p>
</div>
<div id="garden">
	<h2>myGarden</h2>
	<p>Garden Name:</p>
	<p>Garden Location:</p>
	<p>Garden Aspect:</p>
	<p>Notes:</p>
	<hr>
	<div>plant_image</div>
	<div>plant_image</div>
	<div>plant_image</div>
	<div>plant_image</div>
	<div>plant_image</div>
	<div>plant_image</div>
</div>
<div id="fav_plants">
	<h2>Favorite Plants</h2>
	<hr>
	<div>
		<p>thumbnail pic</p>
		<p>Common Name</p>
		<p>Latin Name</p>
		<p>More info</p>
	</div>
</div>
<div></div>
</container>