<container id="nav">
		<div class="nav"><a href="/">HOME</a></div>
		<div class="nav"><a href="/profile">PROFILE</a></div>
		<div class="nav"><a href="/plants">PLANTS</a></div>
		<div class="nav"><a href="/gardens">GARDENS</a></div>
</container>