	<div class="userProfile">
		<div id="userImage">
			<img src="https://media2.fdncms.com/sacurrent/imager/u/original/22487189/jonathan_s1_1_copy.jpg" alt="profile picture" id="profile-pic">
		</div>
		<div id="userInfo">
			<h2>Hello User_Name</h2>
			<hr>
			<p>Location:</p>
		</div>
			<div id="gardenList">
				<h2>myGardens:</h2>
				<p>Garden1</p>
				<p>Garden2</p>
				<p>Garden3</p>
			</div>
	</div>

	<!-- https://upload.wikimedia.org/wikipedia/commons/6/6a/Elizabeth_Warren%2C_official_portrait%2C_114th_Congress.jpg -->
	<!-- /images/sampleProfilePic.jpeg -->