<div class="gardens">

</div>

<div class="gardenInfo">
	<h2>myGardens:</h2>
	<p id="gName">Name</p>
	<p id="gLocation">Location</p>
	<p id="gAspect">Aspect</p>
	<p id="gExposure">Exposure</p>
	<p id="gSoilType">Soil Type</p>
	<p id="gMoisture">Moisture Level</p>
</div>

<div class="gardenPlants">
	<div id="pName">
		<h3>Plant Name</h3>
		<img src="" alt="">
		<p>More Info: <a href="plantLink"></a></p>
	</div>

</div>