<div class="newGarden">
	<form action="POST">
		<h2>Create a Garden:</h2>
		<input type="text" id="Name">
		<input type="text" id="Location">
		<input type="text" id="Aspect">
		<input type="text" id="Exposure">
		<input type="text" id="SoilType">
		<input type="text" id="Moisture">
	</form>
</div>