<div class="plant">
	<div>
		<img src="" alt="">
	</div>
	<div>
		<h2>Plant Info</h2>
		<hr>
		<p>Info</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolor dignissimos qui quae aliquam, sed laborum atque dicta velit porro minima et molestiae, nobis odit eius, error ab sint omnis?</p>
	</div>
	<div>
		<p>button to add plant to user garden</p>
	</div>

</div>